<html>
    <head>
        <title>Textutils</title>
    </head>
    <body>
        <h1>WELCOME TO THE TEXT EDITOR ! ENTER YOUR TEXT</h1>
        <form action= '/analyze' method="get" >
            <textarea name='text' style='width: 858px; height: 135px;'></textarea><br>
            <input type="checkbox" name="removepunc" >Remove Punctuationsc <br></input>
            <input type="checkbox" name="Uppercase" >Uppercase <br></input>
            <input type="checkbox" name="Newline_remove" >Newline_remove <br></input>
            <input type="checkbox" name="Extra_space_remove" >Extra_space_remove <br></input>
            <button type='submit'>Analize text</button>
        </form>
    </body>
</html>